*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.header{
    display: flex;
    justify-content: space-between;
    padding: 30px;
    height: 80px;
    align-items: center;
    background-color: #c6b299 ;
}
.lista{
    display: flex;
    list-style: none;
}
a{
    text-decoration: none;
    color: #785d56;
    font-size: 20px;
    padding: 10px;
}
.lista a:hover{
    background-color: #785d56;
    color: #c6b299;
    border-radius: 20px;
}
p{
    padding: 5px;
}
h3{
    margin-top: 10px;
    text-align: center;
}
@media (max-width: 750px) {
    .header{
        flex-direction: column;
        gap: 1rem;
        justify-content: center;
        height: auto;
    }
    .logo{
        width: 100%;
        text-align: center;
        border-bottom: 1px solid #785d56;
    }
    .lista{
        flex-direction: column;
    }
    .items{
        margin-bottom: 10px;
    }
}